<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Flask!</h2>
      <br>
      <p>Click <a href="/">here</a> to go home.</p>
      <p>This does stuff.</p>
      <p>This does other stuff.</p>
      <img src = 'https://secure.netflix.com/ffe/profiles/avatars_v2/320x320/PICON_025.png'>
    </div>
  </body>
</html>
